/* global.css */
body.sunset {
    /* dark mode variables */
    --error-text: rgb(91, 39, 104);
    --error-bg: #e2caeb;

    --main-bg: rgb(29, 12, 37);
    --main-gradient: linear-gradient(to bottom right, rgb(91, 39, 104), rgb(129, 52, 148), #ca8832);
    --main-text: #ffe6c5;
    --main-secondary: #ca8832;
    --secondary-hover: rgb(91, 39, 104);
}
* {
    box-sizing: border-box;
}
html {
    font-size: 1.25em;
}
body {
    /* light mode variables */
    --error-text: rgb(95, 25, 25);
    --error-bg: #ffc353;

    --main-bg: #ffe683;
    --main-gradient: linear-gradient(to bottom right, #5380d4, #f8c27b,#b5ae8f);
    --main-text: #332717;
    --main-secondary: #517a8b;
    --secondary-hover: #ca8832;

    font-family: 'Work Sans', sans-serif;
    background-color: var(--main-bg);
    color: var(--main-text);

    transition: background-color .4s ease;
}
h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
p {
    font-weight: 300;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    hyphens: auto;
}
a {
    color: var(--main-secondary);
    text-decoration: none;
    transition: color .4s ease;
}
a:hover {
    color: var(--main-text);
}
.wrap {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 1rem;
}
header {
    background: var(--main-gradient);
    color: var(--main-text);
    padding: 1rem 0;
    margin-bottom: 2rem;
}
.header--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header--logo a {
    font-size: 1.25rem;
    color: var(--main-text);
    transition: color .4s ease;
}
.header--logo a:hover,
header nav a:hover {
    color: var(--main-secondary);
}
header li {
    font-size: .8rem;
}
header nav a {
    color: var(--main-text);
    transition: color .4s ease;
}
.header--signedin li {
    text-align: right;
    line-height: 1.25;
}
.header--signedout li {
    display: inline-block;
    margin-left: .5rem;
}

header div.wrap {
    padding-inline: .5rem;
}
.theme-icon {
    cursor: pointer;
    fill: var(--main-text);
    max-width: 25px;
    opacity: 75%;
    transition: opacity .4s ease;
}
.theme-icon:hover {
    opacity: 100%;
}
.course--module {
    background: var(--main-gradient);
    text-align: center;
    border-radius: .5rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    display: block;
    transition: transform .3s ease-in-out;
}
.course--module:hover {
    transform: scale(1.05)
}
.course--label {
    color: var(--main-secondary);
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: .25rem;
}
.course--title {
    color: var(--main-text);
    font-weight: 700;
    font-size: 1.25rem;
}
.course--add--module {
    background: var(--main-gradient);
    color: var(--main-text);
    font-weight: 300;
    font-size: 1.25rem;
}
.course--add--module:hover {
    color: var(--main-text);
}
.course--add--title .add {
    width: 20px;
    height: auto;
    margin-right: 5px;
    fill: var(--main-secondary);
}
.course--detail--title {
    padding-bottom: .25rem;
    border-bottom: 1px solid var(--main-secondary);
    margin: 3rem 0 .5rem;
    font-size: .9rem;
    color: var(--main-secondary);
    text-transform: uppercase;
    letter-spacing: 2px;
}
.course--name {
    font-size: 2rem;
    margin-bottom: .5rem;
    font-weight: 700;
    color: var(--main-secondary);
    text-shadow: 1px 1px 2px var(--main-text);
}
.course--detail--list {
    font-weight: 300;
    margin: 0 0 1.5rem 1rem;
    line-height: 1.5;
}
.actions--bar {
    background: var(--main-bg);
    padding: 1rem 0;
    margin: -2rem 0 2rem;
    border-bottom: solid 2px var(--main-secondary);
}
.validation--errors {
    background: var(--error-bg);
    padding: 1rem;
    border-radius: .5rem;
    margin-bottom: 2.5rem;
}
.validation--errors h3 {
    color: var(--error-text);
    font-size: 1.25rem;
    margin-bottom: .5rem;
}
.validation--errors ul {
    font-weight: 300;
    margin-left: 1rem;
    line-height: 1.25;
}
.validation--errors li {
    margin-bottom: .5rem;
    color: var(--error-text);
}
.validation--errors li:last-child {
    margin-bottom: 0;
}

.form--centered {
    max-width: 510px;
    margin: 0 auto;
    padding: 0 1rem;
}
form {
    margin-bottom: 2.5rem;
}
label {
    display: block;
    font-weight: 300;
    margin-bottom: .25rem;
}
input, textarea {
    display: block;
    width: 100%;
    color: #332a40;
    border-radius: .5rem;
    border: 1px solid #8c789b;
    padding: .5rem;
    margin-bottom: 1rem;
    font-family: 'Work Sans', sans-serif;
    font-size: .8rem;
}
textarea {
    min-height: 300px;
}
.button {
    background: var(--main-secondary);
    color: var(--main-text);
    font-size: 1rem;
    padding: .75rem 1.5rem;
    border: 0;
    margin: 0 0 .5rem 0;
    display: block;
    width: 210px;
    text-align: center;
    border-radius: .5rem;
    font-weight: bold;
    transition: background 0.2s;
}
.button:last-child {
    margin-bottom: 0;
}
.button:not(.button-secondary):hover {
    background: var(--secondary-hover);
    cursor: pointer;
}
.button-secondary {
    color: var(--main-secondary);
    background: none;
    box-shadow: 0 0 0 2px var(--main-secondary) inset;
    transition: box-shadow 0.2s, color 0.2s;
}
.button-secondary:hover {
    color: var(--secondary-hover);
    box-shadow: 0 0 0 2px var(--secondary-hover) inset;
    cursor: pointer;
}
input:focus, button:focus, .button:focus, textarea:focus {
    border: none;
    border-radius: .5rem;
    outline: 2px solid var(--secondary-hover);
}

@media screen and (min-width: 600px) {
    .header--signedin li {
        display: inline-block;
        margin-left: .5rem;
        line-height: 1;
    }
    .main--grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1.5rem;
        grid-auto-rows: 1fr;
    }
    header div.wrap {
        padding-inline: 1rem;
    }
    .theme-icon {
        max-width: 40px;
    }
}
@media screen and (min-width: 800px) {
    .main--grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .main--flex {
        display: flex;
    }
    .main--flex div:first-child {
        flex-basis: 62%;
    }
    .main--flex div:last-child {
        margin-left: 8%;
        flex-basis: 30%;
    }
    .course--detail--title {
        margin: 1.5rem 0 .5rem;
    }
    .button {
        margin: 0 .5rem 0 0;
        display: inline-block;
    }
    .theme-icon {
        max-width: 50px;
    }
}